@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@layer utilities {
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
}

.font-text {
  font-family: "Merriweather", serif;
}
/* src/index.css ya App.css me add karo */
/* src/index.css ya App.css me add karo */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
